.main__wrapper {
  background-color: rgb(235, 235, 235);
  height: 85vh;
  margin-top: 15px;

  .toggler {
    padding: 10px;
    font-size: x-large;
    text-align: left;
  }

  .active {
    background-color: white;
  }

  .left-navigation-links__wrapper {
    padding: 5px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: rgb(255, 255, 255);
    }

    a {
      color: black;
    }
  }
}
