.wrapper {
  padding: 0 0 50px;
  padding-left: 30px;
  margin-top: 75px;

  .heading {
    text-transform: capitalize;
    font-size: larger;
    font-weight: 500;
    text-align: left;
    color: #006eff;
  }
}
