.headings {
  text-align: left;
  font-size: larger;
  font-weight: 600;
  color: #000000;
  cursor: pointer;

  .fa-chevron-right,
  .fa-chevron-down {
    padding: 0 10px;
    font-size: smaller;
  }
}

.assigned_text {
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  color: rgb(83, 81, 81);
}

.opened {
  margin-right: 300px;
}
